<div class="container_admin" data-turbo="false">
  <br><br>
  <h4 class="mb-3">Create Product</h4>
  <%= form_with(model: @rocket, url: admin_create_path, method: :post ,class: 'needs-validation', novalidate: true) do |form| %>
    <%= render partial: 'admin/form' , locals: { form: form } %>
    <%= form.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
